* {
	primary: #D32C40;
	primary-light: #FEFEFE;
	secondary: #A04E5C;
	secondary-light: #A8AFB2;
	ascent: #E7E7E7;
}

.main-frame {
	-fx-background-color: primary-light;
	-fx-pref-width: 1280px;
	-fx-pref-height: 768px;
}

.side-bar {
	-fx-background-color: primary;
	-fx-pref-width: 240px;
	-fx-min-width: 240px;
	-fx-max-width: 300px;	
}

.side-menu {
	-fx-padding: 16px;
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.side-menu:hover {
	-fx-background-color: primary-light;
}

.side-menu:hover SVGPath,
.side-menu:hover Label {
	-fx-background-color: primary-light;
	-fx-text-fill: primary;
	-fx-fill: primary;
}

.side-menu VBox{
	-fx-alignment: center;
	-fx-pref-width: 20px;
}

.side-menu SVGPath,
.side-menu Label {
	-fx-fill: primary-light;
	-fx-text-fill: primary-light;
	-fx-font-size: 16px;
}

.header {
	-fx-min-height: 60px;
	-fx-pref-height: 60px;
	-fx-padding: 20px;
}

.header Label, .hader SVGPath {
	-fx-fill: primary;
	-fx-text-fill: primary;
}

.title {
	-fx-font-size: 18px;
}

.login-user {
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.content-view {
	-fx-pref-width: 1040px;
	-fx-pref-height: 708px;
	-fx-padding: 10 20 20 20;
	-fx-spacing: 20;
}

.search-bar {
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.wid120 {
	-fx-pref-width: 120px;	
}

.wid160 {
	-fx-pref-width: 160px;	
}

.wid200 {
	-fx-pref-width: 200px;	
}

.wid260 {
	-fx-pref-width: 260px;	
}

.pad-top-10 {
	-fx-padding: 10 0 0 0;
}

.date-picker,
.combo-box,
.color-picker,
.text-field, 
.button {
	-fx-border-radius: 4px;
	-fx-border-width: 1px;
}

.date-picker,
.combo-box,
.color-picker,
.text-field {
	-fx-background-color: transparent;
	-fx-border-color: secondary;
	-fx-text-fill: primary;
	-fx-prompt-text-fill: secondary-light;
	-fx-border-color: primary;
}

.button {
	-fx-background-color: secondary;
	-fx-text-fill: primary-light;
	-fx-pref-width: 120px;
}

.button:hover {
	-fx-background-color: secondary-light;
}

.card {
	-fx-pref-width: 240px;
	-fx-padding: 20px;
	-fx-spacing: 20px;
	-fx-background-color: ascent;
	-fx-background-radius: 4px;
}

.category-card .title {
	-fx-font-size: 18px;
}

.login-view {
	-fx-pref-width: 600px;
	-fx-background-color: primary;
}

.al-center {
	-fx-alignment: center;
}

.login-view > .content {
	-fx-background-color: primary-light;
	-fx-spacing: 10;
	-fx-padding: 0 0 40 0;
}


.login-view > .content > .header {
	-fx-padding: 20 0.0 10 40;
}

.login-view > .content > .message {
	-fx-padding: 0 0.0 0.0 40;
}


.login-view > .content > .header > Label {
	-fx-font-size: 24px;
}

.login-view > .content Label {
	-fx-text-fill: secondary;
}

.login-view .form-group {
	-fx-spacing: 10px;
	-fx-padding: 0 60 0 40;
}

