* {
	primary: #D32C40;
	primary-light: #FEFEFE;
	secondary: #A04E5C;
	secondary-light: #A8AFB2;
	ascent: #E7E7E7;
}

.main-frame {
	-fx-background-color: primary-light;
	-fx-pref-width: 1280px;
	-fx-pref-height: 768px;
}

.side-bar {
	-fx-background-color: primary;
	-fx-pref-width: 240px;
	-fx-min-width: 240px;
	-fx-max-width: 300px;	
}

.side-menu {
	-fx-padding: 16px;
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.side-menu:hover {
	-fx-background-color: secondary-light;
}

.side-menu.active {
	-fx-background-color: primary-light;
}

.side-menu.active SVGPath,
.side-menu.active Label,
.side-menu:hover SVGPath,
.side-menu:hover Label {
	-fx-text-fill: primary;
	-fx-fill: primary;
}

.side-menu VBox{
	-fx-alignment: center;
	-fx-pref-width: 20px;
}

.side-menu SVGPath,
.side-menu Label {
	-fx-fill: primary-light;
	-fx-text-fill: primary-light;
	-fx-font-size: 16px;
}

.header {
	-fx-min-height: 60px;
	-fx-pref-height: 60px;
	-fx-padding: 20px;
}

.header Label, .hader SVGPath {
	-fx-fill: primary;
	-fx-text-fill: primary;
}

.title {
	-fx-font-size: 18px;
}

.login-user {
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.content-view {
	-fx-pref-width: 1040px;
	-fx-pref-height: 708px;
	-fx-padding: 10 20 20 20;
	-fx-spacing: 20;
}

.search-bar {
	-fx-padding: 20px;
	-fx-spacing: 10px;
	-fx-alignment: center-left;
	-fx-background-color: ascent;
	-fx-background-radius: 4px;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.wid120 {
	-fx-pref-width: 120px;	
}

.wid160 {
	-fx-pref-width: 160px;	
}

.wid200 {
	-fx-pref-width: 200px;	
}

.wid260 {
	-fx-pref-width: 260px;	
}

.pad-top-10 {
	-fx-padding: 10 0 0 0;
}

.date-picker,
.combo-box,
.color-picker,
.text-field, 
.button {
	-fx-border-radius: 4px;
	-fx-border-width: 1px;
}


.date-picker .date-picker-display-node {
	-fx-border-width: 0px;
}

.date-picker .arrow-button {
	-fx-background-color: transparent;
}

.date-picker,
.combo-box,
.color-picker,
.text-field {
	-fx-background-color: transparent;
	-fx-border-color: secondary;
	-fx-text-fill: primary;
	-fx-prompt-text-fill: secondary-light;
	-fx-border-color: primary;
}

.date-picker-popup .button {
	-fx-pref-width: 0px;
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-background-color: transparent;
}

.dropShadow {
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.table-view .column-header-background,
.table-view .column-header {
	-fx-background-color: ascent;
}

.button {
	-fx-background-color: secondary;
	-fx-text-fill: primary-light;
	-fx-pref-width: 120px;
}

.button:hover {
	-fx-background-color: secondary-light;
}

.card {
	-fx-pref-width: 240px;
	-fx-padding: 20px;
	-fx-spacing: 20px;
	-fx-background-color: ascent;
	-fx-background-radius: 4px;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.card:hover {
	-fx-background-color: secondary-light;	
	-fx-effect: dropshadow(gaussian, secondary, 0, 2, 2, 2) 
}

.card-nocolor {
	-fx-padding: 20px;
	-fx-spacing: 20px;
	-fx-background-radius: 4px;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.card-nocolor-small {
	-fx-pref-width: 180px;
	-fx-padding: 10px;
	-fx-background-color: ascent;
	-fx-spacing: 10px;
	-fx-background-radius: 4px;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.card-nocolor .title,
.card .title {
	-fx-font-size: 18px;
}

.login-view {
	-fx-pref-width: 600px;
	-fx-background-color: primary;
}

.al-center {
	-fx-alignment: center;
}

.login-view > .content {
	-fx-background-color: primary-light;
	-fx-spacing: 10;
	-fx-padding: 0 0 40 0;
}


.login-view > .content > .header {
	-fx-padding: 20 0.0 10 40;
}

.login-view > .content > .message {
	-fx-padding: 0 0.0 0.0 40;
}


.login-view > .content > .header > Label {
	-fx-font-size: 24px;
}

.login-view > .content Label {
	-fx-text-fill: secondary;
}

.login-view .form-group {
	-fx-spacing: 10px;
	-fx-padding: 0 60 0 40;
}

.login-view .form-buttons {
	-fx-spacing: 10px;
	-fx-padding: 10 60 0 40;
}

.content-view > .container {
	-fx-vgap: 10;
	-fx-hgap: 10;
}

.summary {
	-fx-spacing: 10px;
}

.summary-card {
	-fx-alignment: center-right;
	-fx-background-radius: 4px;
	-fx-padding: 20px;
	-fx-pref-width: 242.5px;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.shadow {
	-fx-background-radius: 4px;
	-fx-background-color: ascent;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) 
}

.primary {
	-fx-background-color: primary;
}

.primary SVGPath,
.primary Label {
	-fx-fill: primary-light;
	-fx-text-fill: primary-light;
}

.primary:hover {
	-fx-background-color: primary-light;
}

.primary:hover SVGPath,
.primary:hover Label {
	-fx-fill: primary;
	-fx-text-fill: primary;
}

.rounded-corner {
	-fx-background-radius: 2px;
}

.right {
	-fx-alignment: center-right;
}

.left {
	-fx-alignment: center-left;
}

.center {
	-fx-alignment: center;
}

.sp-10 {
	-fx-spacing: 10px;
}

.fs-48 {
	-fx-font-size: 48px;
}

.pad-bot-10  {
	-fx-padding: 10 0 20 0;
}

ScrollPane {
	-fx-background-color: transparent;
	-fx-border-style: none;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.voucher {
	-fx-pref-width: 400px;
	-fx-spacing: 10px;
	-fx-background-radius: 4px;
	-fx-background-color: ascent;
	-fx-effect: dropshadow(gaussian, secondary-light, 0, 2, 2, 2) ;
	-fx-padding: 16;
}

.voucher-btn {
	-fx-pref-width: 200px;
	-fx-pref-height: 60px;
	-fx-alignment: center;
	-fx-background-color: primary-light;
}

.voucher-btn:hover {
	-fx-background-color: primary;
}

.voucher-btn .label{
	-fx-text-fill: primary;
}

.voucher-btn:hover .label{
	-fx-text-fill: primary-light;
}